body {
    background-color: black;
}

section {
    width: 100%;
    height: 1080px;
}

#welcome {
    background-color: black;
}

#profile {
    background-color: white;
    color: black;
}

#portfolio {
    background-color: black;
}

#footer {
    background-color: white;
}

#welcome p {
    color: white;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 72px;
    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
}

.description-header {
    font-size: 36px;
    font-weight: 700;
    margin: 10px;
}

.description-content {
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0px 10px 30px    
}