body {
  background-color: black;
}
section {
  width: 100%;
  padding: 72px 0;
}

#welcome {
  background-color: black;
  color: white;
}

#welcome p {
  font-weight: 700;
  font-size: 72px;
  text-align: center;
}

#profile {
  background-color: white;
  color: black;
}

#portfolio {
  background-color: black;
  color: white;
}

#contact {
  background-color: white;
  color: black;
}

.subtitle p {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 50px;
}

.box {
  display: flex;
}

.photo {
  flex: 1;
  order: 1;
}

.photo img {
  width: 420px;
}

.description {
  flex: 2;
  order: 2;
}

p {
  font-family: "Lato", sans-serif;
}

.description-header {
  font-size: 36px;
  font-weight: 700;
  margin: 10px;
}

.description-content {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0px 10px 30px;
}
