body {
  margin: 0;
  padding: 0;
}

#div {
  margin: 0;
  width: 100%;
}

section {
  width: 100%;
  padding: 72px 0;
}

p {
  font-family: "Lato", sans-serif;
}

#welcome {
  background-color: black;
  color: white;
  position: relative;
  height: 720px;
}

#welcome p {
  font-weight: 700;
  font-size: 72px;
  position: absolute;
  top: 25%;
  left: 30%;
}

#profile {
  background-color: white;
  color: black;
  position: relative;
  height: 720px;
}

#portfolio {
  background-color: black;
  color: white;
  position: relative;
  height: 720px;
}

#contact {
  background-color: white;
  color: black;
  position: relative;
  height: 512px;
}

.subtitle {
  position: absolute;
  top: 10%;
  left: 40%;
}

.subtitle p {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 50px;
}

.box {
  display: flex;
  position: absolute;
  top: 30%;
  left: 10%;
}

.photo {
  flex: 1;
  order: 1;
}

.photo img {
  width: 90%;
  margin: 0% 5% 0% 0%;
}

.description {
  flex: 2;
  order: 2;
}

.description-header {
  font-size: 36px;
  font-weight: 700;
  margin: 10px;
}

.description-content {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0px 10px 30px;
}

/* .box-child {
  width: 400px;
  height: 300px;
  color: black;
  background-color: white;
  padding: 10px;
  position: relative;
}

.mid {
  margin: 0px 50px;
  padding: 10px;
  width: 400px;
  height: 300px;
  color: black;
  background-color: white;
  position: relative;
}

.mid p {
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  top: 20%;
  left: 10%;
}

.box-child p {
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  top: 20%;
  left: 20%;
} */

.temp {
  flex: 2;
}

.temp p {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.social-list {
  flex: 1;
  margin: 0px 200px 0px 200px;
}

.social {
  font-size: 30px;
  margin: 10px 0px 10px 0px;
}

.social p {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}
