<!DOCTYPE HTML>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Lato" rel="stylesheet" /> 
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </head>
    <body>
        <div id="welcome">
            <h1>Welcome to my own page!</h1>
        </div>
        <div id="profile">
            <div class="photo">
                <img src="img/dp.jpg"/>
            </div>
            <div class="description">
                <div class="point">
                    <p>Education</p>
                    <p>Bachelor in Computer Science @ IPB University (2017 - . . .)</p>
                </div>
                <div class="point">
                    <p>Research Interest</p>
                    <p>Machine Learning, Data Science, Complex Systems, Text Mining, Image Processing, Bioinformatics, Statistics</p>
                </div>
                <div class="point">
                    <p>Skills</p>
                    <p>HTML, CSS, JavaScript, Python, Node.JS, R, GitHub, MySQL.</p>
                </div>
                <div class="point">
                    <p>Hobbies</p>
                    <p>Basketball, Running, Swimming, Reading, Learn New Things.</p>
                </div>            
            </p>
        </div>
    </body>
</html>